.ability-list{
  background-image: url('../../Textures/cc4aa0877b182cff15c56b3963fbbd96.jpg');
  background-size: contain;
  border-radius: 0 5vh 5vh 0;
  width: 80%;
  height: fit-content;
  display: flex;
  margin: auto;
  padding: 1%;
  height: fit-content;
}

.ability-buttons-container{
  width: 30%;
  height: 450px;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  padding-right: 10px;
  align-items: center;

}

.ability-buttons-container::-webkit-scrollbar {
  width: 5px;
}

.ability-buttons-container::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 5px rgba(128, 128, 128, 0.39); 
  border-radius: 10px;
}

.ability-buttons-container::-webkit-scrollbar-thumb {
  background: #556380c7; 
  border-radius: 10px;
}


.show-selected-ability{
  width: 60%;
  background-color: #556380c7;
  margin-left: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  align-self: center;
}

.show-selected-ability::-webkit-scrollbar {
  width: 5px;
}

.show-selected-ability::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 5px rgba(128, 128, 128, 0.521); 
  border-radius: 10px;
}

.show-selected-ability::-webkit-scrollbar-thumb {
  background: #4f74c0c7; 
  border-radius: 10px;
}

.ability-title{
  font-size: 4vh;
  text-align: center;
  color: #001233
}

.title-image{
  width: 10% ;
  margin-left: 2%;
}

.title-container{
  display: flex;
  justify-content: center;
  width: 100%;
}