.ability-list{
  background-image: url('../../Textures/cc4aa0877b182cff15c56b3963fbbd96.jpg');
  background-size: contain;
  border-radius: 0 5vh 5vh 0;
  width: 80%;
  height: fit-content;
  display: flex;
  margin: auto;
  padding: 1%;
}

.ability-buttons-container{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.show-selected-ability{
  width: 60%;
  background-color: #556380c7;
  margin-left: 1%;
}

.ability-title{
  font-size: 4vh;
  text-align: center;
  color: #001233
}