@import url('https://fonts.googleapis.com/css2?family=Mali&family=Russo+One&display=swap');

.portfolio-button-icon{
  width: 5vh;
}

.portfolio-button{
  display: flex;
  align-items: center;
  color: #001845;
  font-family: 'Arima Madurai';
  font-size: 2vh;
  border: none;
  width: 100%;
  border: solid 1px #001233; 
  background-color: #979DAC;
  
}

.portfolio-button:hover{
  background-color: #33415C;
}

.portfolio-button.selected{
  background-color: #001233cc;
  color: #979DAC;
  border-style: solid;
  border-width: 1px;
  border-color:#001233 
}

.portfolio-button img{
  opacity: 0.5;
}

.portfolio-button.selected img{
  opacity: 0.8;
}

