.footer-nav{
  display: flex;
  justify-content: space-around;
}

.footer-nav a{
  display: flex;
  align-items: center;
}

.footer-icon{
  width: 20vh;
}

.footer-icon:hover{
  opacity: 0.8;
}

.portfolio-footer{
  background-color: #0353A4;
  background-image: url('/src/Textures/45-degree-fabric-dark.png');
}