.header-language-container {
  background-color: #243d6d64;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  width: fit-content;
  border-radius: 10px;
  align-self: flex-end;
  position: absolute;
  min-height: 65px;
  min-width: 120px;
}

.header-language-button {
  padding: 0;
  margin: 5px;
  border: none;
}

.header-language-image {
  height: 40px;
  display: flex;
  opacity: 0.7;
  transition: 1s;
}

.header-language-image.selected {
  height: 55px;
  opacity: 1;
}



.header-language-image.not-selected:hover{
  opacity: 1;
  transition: 0s;
}
